@{
    ViewData["Title"] = "Botellas guardadas";
}

<div class="text-center" style="padding-left:50px; padding-right:50px;">

    <br />
    <h2 class="pb-2 border-bottom">Tu botella de Fernet!</h2>
    <p class="lead">. Completa tus datos y consigue tu número fernetero.</p>



    <div class="col-md">


        <div class="contenedor">
            <div class="row g-3">

                <!-- --------------------------------------------------------------------------------------------------------- -->

                <div class="col-sm-6">
                    <label for="" class="form-label">Nombre</label>
                    <input ID="link" type="text" class="form-control" runat="server" required>
                </div>

            </div>
        </div>
    </div>
</div>

