<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vidón bar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FernetVidon.styles.css" asp-append-version="true" />


</head>
<body>

    <header class="p-3" style="background-color: #0C8444; z-index: 9; left: 0; right: 0; text-align: center;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center" style=" height:50px;">
                <a href="default.aspx" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="/img/Vidon bar ORIGINAL.png" alt="logo" style="width:60px;">
                </a>
                &nbsp;&nbsp;&nbsp;
                <div class="text-end">
                    <h3 class="float-md-start mb-0" style="color: white;">VIDÓN BAR</h3>                   
                </div>
            </div><hr />
            <span class="sucursal" style="color: #fdc030;">Sucursal: Alta Córdoba</span>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            @* <a href="https://www.instagram.com/vidonbar/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/vidonbar/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://wa.me/541155555555" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a> *@
            &nbsp;
            &copy; 2023 - Vidón bar

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
